@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Oi. Meu nome é Luana Cristina e seja bem vindo ao meu projeto que estou aprendendo com o curso do GitHub4Women./h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
